@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    background: #020202 url('assets/bg-noise.png');
    color: #c7c7c7;
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;
    line-height: 1.4;
    overflow: hidden;
    margin: 0;
}

.crt {
    text-shadow: 0 0 2px #0f0;
    animation: flicker 0.15s infinite alternate;
}

@keyframes flicker {
    from { opacity: 0.96; }
    to { opacity: 1; }
}

.header {
    background: #0a0a0a;
    color: red;
    padding: 4px 10px;
    border-bottom: 1px solid #111;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.terminal {
    padding: 20px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.menu li {
    list-style: none;
    margin: 6px 0;
    color: #0f0;
}

.image-container {
    position: relative;
    border: 1px solid #333;
    background: #050505;
    padding: 10px;
}

.image-container img {
    width: 100%;
    filter: grayscale(100%) contrast(130%) brightness(80%);
}

.censor {
    position: absolute;
    bottom: 8px;
    left: 8px;
    background: rgba(0, 0, 0, 0.9);
    color: #ff5555;
    font-size: 12px;
    padding: 2px 5px;
}

.warning {
    color: #ff5555;
    margin-top: 10px;
}

.scan img {
    width: 100%;
    filter: brightness(70%) contrast(120%);
}

.info {
    margin-top: 8px;
    font-size: 13px;
    color: #b30000;
}

.footer {
    text-align: center;
    margin-top: 30px;
    color: #888;
    font-size: 13px;
    border-top: 1px solid #111;
    padding-top: 10px;
}

/* === LOGIN PAGE === */

.login-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #020202 url('assets/bg-noise.png');
  font-family: 'Share Tech Mono', monospace;
  color: #0f0;
  text-shadow: 0 0 2px #0f0;
}

.login-container {
  border: 1px solid #0f0;
  padding: 40px;
  background: rgba(0, 0, 0, 0.7);
  width: 320px;
  text-align: center;
  animation: flicker 0.2s infinite alternate;
}

.login-title {
  color: red;
  margin-bottom: 10px;
}

.login-sub {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input {
  background: black;
  border: 1px solid #0f0;
  color: #0f0;
  padding: 5px;
  font-family: inherit;
  text-align: center;
}

.login-form button {
  background: #0f0;
  border: none;
  padding: 6px;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login-form button:hover {
  background: #ff0000;
  color: #fff;
}

.login-warning {
  margin-top: 20px;
  color: #ff0000;
  font-size: 12px;
}
